{% spaceless %}
	
<div class="banner banner--full banner--blue">
  <div class="banner__text">
    <h2 class="banner__title">{{heading}}</h2>
    <p>{{subheading}}</p>
  </div>
  <div class="banner__cta">
    <a href="{{link}}" class="btn btn--primary btn--large">{{button_text}}</a>
  </div>
</div>

{% endspaceless %}