<div class="card card--neutral card--contact">

    <div class="card__body">
      <div class="card__figure">
        <img class="avatar" src="http://placecage.com/80/80" alt="">
      </div>
      <div class="card__text">
        <h3 class="card__title">Luke Skywalker</h3>
        <p>Field Service Representative</p>
        <div class="col--primary">
          <h3 class="card__subtitle">Counties</h3>
          <ul class="list--plain">
            <li>Burlington</li>
            <li>Camden (Partial)</li>
            <li>Mercer</li>
          </ul>
        </div>
        <div class="col--secondary">
          <h3 class="card__subtitle">Districts</h3>
          <p><a href="fsr.html">View all</a></p>
        </div>
      </div>
    </div>
    <footer class="card__footer">
      <p class="card__footer__primary">lskywalker@njsba.org</p>
      <p class="card__footer__secondary">(609) 695-7600 <b>5203</b></p>
    </footer>  
  </div>