{% spaceless %}
    

<div class="container">
<section class="row row--first">
  {% if primary_list_links %}
    <div class="col--primary">
      {% if primary_heading %}
      <h2>{{primary_heading}}</h2>
      {% endif %}
      <ul class="list--links">
        {{primary_list_links}}
      </ul>
    </div>
    {% endif %}
    {% if secondary_list_links %}

    <div class="col--secondary">
      {% if secondary_heading %}
      <h2>{{secondary_heading}}</h2>
      {% endif %}
      <ul class="list--plain">
       {{secondary_list_links}}
      </ul>
    </div>

    {% endif %}
  </section>
  </div>
  {% endspaceless %}