<table class="search-results">
    <thead>
      <tr>
        <th class="results__title">Title</th>
        <th>Excerpt</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="results__title">
          <a href="">Title of an Article</a>
          <div class="results__detail">
            School Leader<br>
            NOVEMBER/DECEMBER 2015 • VOLUME 46 • 3
          </div>
        </td>
        <td>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </td>
      </tr>
      <tr>
        <td class="results__title">
          <a href="">Something Else With a Long Title That Wraps Over Multiple Lines</a>
        </td>
        <td>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </td>
      </tr>
      <tr>
        <td class="results__title">
          <a href="">A Third Thing</a>
        </td>
        <td>
          Lorem ipsum dolor sit amet.
        </td>
      </tr>
    </tbody>
  </table>